.barchart{
    width: 50%;
    float: left;
    margin-top: 20px;
}
 
.piechart{
    width: 50%;
    float: left;
    /* margin-top: 50px; */
}
.barchart1{
    width: 50%;
    float: right;
    display: flex;
    margin-top: 50px;
}
 
.piechart1{
    width: 50%;
    float: right;
    /* display: flex; */
    margin-top: 50px;
}