div{
    display: flow-root;
}
.nav-item {
    padding: 0 8px 0;
}
.nav-link {
    color: white;
}
.nav-link:hover, .nav-link:active {
    color: #669c3a !important;
} 

.card {
    margin: 5%;
    border-radius: 20px;
    padding: 2em 0 0;
}
.card-header {
    background: none;
    border-bottom: none;
    margin-bottom: 2%;
    padding: 0 2em 0;
}
.nav.card-header-pills.nav-pills {
    float: right;
}
.card-header a.nav-link {
    color: black;
    font-weight: bold;
}
.card-header a.nav-link:hover{
    color: #669c3a;
}
#searchIcon:hover{
    cursor: pointer;
}
#slider{
    min-width: 20%;
}
#slider-text {
    line-height: 1;
}
.map-container {
    height: 80vh;
}
.map-card {
    height: 60vh;
    width: 100%;
    border: 3px solid #669c3a;
    margin: 0%;
    padding: 0;
}
.map-card .card-body {
    padding: 0;
}
.info-card{
    
    height: 60vh;
}
